.page {
    display: flex;
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-family: var(--font-geist-sans);
    background-color: var(--background);
  }
  